<html>
  <head>
    <%= stylesheet_link_tag "mailers/base" %>
  </head>
  <body>
    <table class="structure" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr><td></td> <td height="20"></td> <td></td></tr>
      <tr>
        <td></td> 
        <td align="center" valign="top">
          <table class="content" border="0" cellpadding="20" cellspacing="0" width="600">
            <tr>
              <td align="left"><%= image_tag("puc-psicologia-departamento-logo.png", height: "47") %></td>
              <td align="right"><%= image_tag("puc-logo.gif", height: "80") %></td>
            </tr>
            <tr>
              <td colspan="2">
                <h1>Caro(a) Professor(a) <%= @user.name %>,</h1>

                <p class="paragraph">O Dunno é uma iniciativa de pesquisadores e professores para a construção de um aplicativo que estimule o engajamento de alunos e faça de aparelhos móveis, como celulares, instrumentos de apoio e não obstáculos ao ensino.<p>

                <p class="paragraph">Juntos trabalharemos para descobrir quais são as maiores necessidades de sua rotina pedagógica, para assim desenvolvermos o melhor aplicativo de apoio ao ensino: o Dunno App.</p>
                <p class="paragraph">Comece a usar o Dunno App agora, e sempre que quiser nos dê seu feedback. Temos o prazer de trabalhar para você!</p>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <%= link_to "Acesse", accept_invitation_dashboard_users_path(invitation_token: @token), class: "button" %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p class="paragraph">Se tiver alguma dúvida, por favor entre em contato conosco: <a href="mailto:contato@dunnoapp.com">contato@dunnoapp.com</a></p>
                <p class="paragraph">Cordialmente,</p>
                <p class="paragraph">
                  Equipe Dunno App. <br />
                  <span class="italic underlined">Buscando o Estado da Arte na Educação</span>
                </p>
              </td>
            </tr>
            <tr>
            <tr>
              <td colspan="2" align="center">
                <hr />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <a href="/"><%= image_tag("dunno-logo-vertical.png", width: "20%") %></a> 
              </td>
            </tr>
            <tr>
              <td class="see-more" colspan="2" align="center">
                Conheça mais em <a href="/">dunnoapp.com</a> 
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
      <tr><td></td> <td height="20"></td> <td></td></tr>
    </table>
  </body>
</html>
