<html>
  <head>
    <%= stylesheet_link_tag "mailers/base" %>
  </head>
  <body>
    <table class="structure" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr><td></td> <td height="20"></td> <td></td></tr>
      <tr>
        <td></td> 
        <td align="center" valign="top">
          <table class="content" border="0" cellpadding="20" cellspacing="0" width="600">
            <tr>
              <td align="left"><%= image_tag("puc-psicologia-departamento-logo.png", height: "47") %></td>
              <td align="right"><%= image_tag("puc-logo.gif", height: "80") %></td>
            </tr>
            <tr>
              <td colspan="2">
                <h1>Caro(a) Professor(a) <%= @user.name %>,</h1>

                <p class="paragraph">Parabéns! Você foi um dos professores escolhidos para ter acesso à versão beta do Dunno. Com ele, você poderá enviar avisos aos seus alunos via SMS, planejar suas aulas e compartilhar conteúdo automaticamente.<p>

                <p class="paragraph">Seu feedback é muito importante para nós nesta etapa. Não hesite em entrar em contato conosco respondendo este e-mail em caso de dúvidas, críticas ou sugestões.</p>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <%= link_to "Acesse", accept_invitation_dashboard_users_path(invitation_token: @token), class: "button" %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p class="paragraph">Cordialmente,</p>
                <p class="paragraph">
                  Equipe Dunno App.
                </p>
              </td>
            </tr>
            <tr>
            <tr>
              <td colspan="2" align="center">
                <hr />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <a href="/"><%= image_tag("dunno-logo-vertical.png", width: "20%") %></a> 
              </td>
            </tr>
            <tr>
              <td class="see-more" colspan="2" align="center">
                Conheça mais em <a href="/">dunnoapp.com</a> 
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
      <tr><td></td> <td height="20"></td> <td></td></tr>
    </table>
  </body>
</html>
