<html>
  <head>
    <%= stylesheet_link_tag "mailers/base" %>
  </head>
  <body>
    <table class="structure" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr><td></td> <td height="20"></td> <td></td></tr>
      <tr>
        <td></td> 
        <td align="center" valign="top">
          <table class="content" border="0" cellpadding="20" cellspacing="0" width="600">
            <tr>
              <td align="left"><a href="/"><%= image_tag("dunno-logo-vertical.png", width: "20%") %></a></td>
            </tr>
            <tr>
              <td>
                <h1>Cadastro realizado com sucesso.</h1>
                
                <strong>Professor(a) <%= @user.name %>,</strong>

                <p>Agora você tem acesso ao Dunno para planejar e interagir paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.<p>

                <p class="paragraph">Seus dados de acesso são:</p>
                <p class="list">Endereço para login: <a href="/sign_in">dunnoapp.com/sign_in</a></p>
                <p class="list">Email: <strong><%= @user.email %></strong></p>
                <p class="list">Senha: <strong><%= @password %></strong></p>
              </td>
            </tr>
            <tr>
              <td align="center">
                <hr />
              </td>
            </tr>
            <tr>
              <td class="see-more" align="left">
                Para saber mais sobre o Dunno acesse: <a href="/">dunnoapp.com</a> 
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
      <tr><td></td> <td height="20"></td> <td></td></tr>
    </table>
  </body>
</html>
