= f.input :name
= date_picker(f, :start_date)
= date_picker(f, :end_date)
= time_picker(f, :start_time)
= time_picker(f, :end_time)
= f.input :weekdays, as: :check_boxes, collection: Course::WEEKDAYS, item_wrapper_class: 'checkbox-inline'
= f.input :classroom
= f.association :organization
= f.button :submit
= link_to t(:back), :back, class: 'btn'
