%h1 Listing topics

%table
  %tr
    %th Description
    %th Event
    %th
    %th
    %th

  - @topics.each do |topic|
    %tr
      %td= topic.description
      %td= topic.event
      %td= link_to 'Show', dashboard_topic_path(topic)
      %td= link_to 'Edit', edit_dashboard_topic_path(topic)
      %td= link_to 'Destroy', dashboard_topic_path(topic), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Topic', new_dashboard_topic_path
