!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %title= yield(:title) + "Titulo aqui"

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    = yield(:header_tags)

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = javascript_include_tag "application", :type => nil, "data-turbolinks-track" => true
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
      %script{:src => "js/respond.min.js"}

    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'XXXXX-XXXX']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

  / TODO: Fazer o JS funcionar com TurboLinks
  %body{:id => controller.controller_name, 'data-no-turbolink' => true}
    %header.header.white-bg
      .sidebar-toggle-box
        .fa.fa-bars.tooltips{ "data-original-title" => "Toggle Navigation", "data-placement" => "right" }
      %a.logo
        Dunno
        %span App
      #top_menu.nav.notify-row
      .top-nav
    %aside
      #sidebar.nav-collapse
        %ul#nav-accordion.sidebar-menu
          - current_teacher && current_teacher.organizations.each do |organization|
            %li= link_to organization.name, dashboard_organization_events_path(organization.uuid)
          - if content_for?(:sidebar)
            = yield(:sidebar)
    %section#main-content
      %section.wrapper
        = render 'flash_messages'
        .holder
          %section{:role => "main"}
            = yield

      %footer.site-footer
        .text-center
          = "Copyright &copy; #{Time.zone.now.year} Dunno".html_safe
